# Prevent directory listings
Options -Indexes

# Redirect to view/login.php if accessing the root URL
RewriteEngine On
RewriteCond %{REQUEST_URI} ^/mobil-reservation/?$
RewriteRule ^(.*)$ /mobil-reservation/view/login.php [L]

# Restrict access to certain files or directories if needed
<FilesMatch "\.(htaccess|htpasswd|ini|phar|sql|sh|bak|psd|log|git|svn|md|json|yml)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>
